html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  img,video{
    width: auto; 
    height: auto;
    max-width: 100%; 
  }

  header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-bottom: 15px;
  }

  .name{
    display: flex;
  }

  .name h1{
    padding-left: 10px;
    padding-top: 22.5px;
  }

  .name h1 a{
    text-decoration: none;
    color: black;
  }

  .name img{
    width: 100px;
  }

  .nav{
    display: flex;
    justify-content: right;
    margin-right: 10px;
    padding-top: 37px;
}

.nav li{
    padding-left: 25px;
    list-style: none;
    font-size: 18px;
}

.nav li a{
    text-decoration: none;
    color: black;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: url("../img/ocean.avif");
    background-position-y: 30%;
    background-size: 100%;
}

.herotitle{
    grid-area: 1;
    justify-self: center;
}

.herotitle h1{
    font-size: 62.5px;
    margin-bottom: 0px;
}

.btn{
    grid-column: 2;
    grid-row: 2;
    width: 175px;
    color: white;
    background: #002D62;
    padding-left: 10px;
    justify-self: center;
    height: 50px;
    border-radius: 5px;
}

.btn2{
    width: 125px;
    background-color: #002D62;
    padding: 5px 0px 5px;
    border-radius: 2.5px;
    text-align: center;
    justify-self: right;
    grid-column: 2;
    justify-self: center;
    height: 30px;
}

.btn p a, .btn2 a{
    padding-left: 5px;
    text-decoration: none;
    color: white;
}

#intro{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 50px;
}

#microplastics{
    width: 850px;
    text-align: left;
    margin: 0 auto;
}

.us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 75px;
}

.us h2{
    font-size: 55px;
    justify-self: center;
}

.us p{
    font-size: 24px;
    padding-top: 25px;
    width: 700px;
}

.facts{
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(3, 550px);
    grid-gap: 35px;
    text-align: left;
    margin-left: 85px;
    width: 100%;
}

#spread{
    text-align: center;
    margin-top: 100px;
}

.nav2{
    width: 875px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.nav2 h3{
    text-align: center;
}

.smallbtn{
    text-align: center;
}

.smallbtn a{
    color: white;
    text-decoration: none;
    background-color: #002D62;
    padding: 5px 5px 5px 5px;
    border-radius: 2.5px;
}

.nav3 li, .nav3 a{
    text-align: center;
    text-decoration:none;
    color: black;
    list-style: none;
    margin-top: 10px;
}

footer h3{
    text-align: center;
    margin-top: 100px;
    margin-left: 30px;
}

.src h2{
    text-align: center;
}

.src #src-statement{
    text-align: left;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
}

.options{
    background-color: #7CB9E8;
    width: 500px;
    margin: 0 auto;
    padding: 0px 0px 5px 2.5px;
    margin-top: 10px;
    border-radius: 5px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid .sub{
    grid-column: 1;
    justify-self: center;
}

.grid h3, .sub{
    padding-left: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#org{
    text-align: center;
    width: 675px;
    margin: 0 auto;
    margin-top:65px;
}

.donate{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 75px;
}

.orglogo{
    width: 200px;
    margin-bottom: 15px;
}

#fix{
    margin: 0 auto;
}

@media(max-width: 400px){

    .name h1{
        font-size: 0px;
    }

    .nav li{
        font-size: 12px;
        padding-right: 15px;
    }

    .hero{
        height: 250px;
    }

    .herotitle{
        padding-left: 15px;
    }

    .herotitle h1{
        font-size: 45px;
    }

    .herotitle h3{
        font-size: 15px;
        color: white;
    }

    .btn{
        width: 150px;
    }

    .btn p a{
        font-size: 13px;
    }

    .facts{
        grid-template-columns: 1fr;
        font-size: 12px;
        width: 275px;
        padding-right: 75px;
    }

    .us{
        grid-template-columns: 1fr;
    }

    .us p{
        font-size: 18px;
        width: 300px;
        margin: 0 auto;
    }
    

    #intro{
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 25px;
        font-size: 30px;
    }

    #microplastics{
        font-size: 15px;
        margin: 0 auto;
        width: 350px;
    }

    #intro, #microplastics{
        margin: 0 auto;
    }

    .nav2, .nav2 h3{
        grid-template-columns: 1fr;
    }

    #one{
        margin-right: 500px;
    }

    #two{
        width: 315px;
        margin: 50px;
    }

    .smallbtn{
        text-align: center;
    }

    footer{
        margin-right: 30px;
    }


}

